<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyecto.contol.idmc.appred.redapp">
    <!-- SE MODIFICO PARA QUE PUDIERA INICIARSE PRIMERO EL SPLAHSCREEN POR ESO SE COLOCO LAUNCHER -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".codigosAdicionales" />
        <activity android:name=".principalMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InicioSistema" />
        <activity android:name=".principalPaciente"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>